/* styles/headerbar.css */

.header {
    /* Other styles... */
    background-color: transparent;
  }
  
.header {
    background-color: #39424e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .header p {
    margin: 5px 0;
    font-size: 18px;
  }
  